In [1]:
import pandas as pd
import numpy as np

In [2]:
days = pd.Series(["Monday", "Tuesday", "Wednesday"])
days

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [3]:
days_list = np.array(["Monday", "Tuesday", "Wednesday"])
numpy_days = pd.Series(days_list)
numpy_days

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [4]:
days_index = pd.Series(["Thursday", "Friday", "Saturday", "Sunday"], index=["a", "b", "c", "d"])
days_index

a    Thursday
b      Friday
c    Saturday
d      Sunday
dtype: object

In [5]:
days_dict = pd.Series({"a":"Thursday", "b": "Friday", "c": "Saturday", "d": "Sunday"})
days_dict

a    Thursday
b      Friday
c    Saturday
d      Sunday
dtype: object

In [6]:
days_index[0]

'Thursday'

In [7]:
days_index[0:3]

a    Thursday
b      Friday
c    Saturday
dtype: object

In [8]:
days_index[2:]

c    Saturday
d      Sunday
dtype: object

In [9]:
days_index['d']

'Sunday'

In [10]:
days_index[::-1]

d      Sunday
c    Saturday
b      Friday
a    Thursday
dtype: object

In [11]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [12]:
df_dict = {
    'Name': ['Aditya', 'Tavisha', 'Vishal'],
    'Age': [20, 17, 20],
    'Gender': ['Male', 'Female', 'Male']
}

In [13]:
df1 = pd.DataFrame(df_dict, index=[1, 2, 3])
df1

      Name  Age  Gender
1   Aditya   20    Male
2  Tavisha   17  Female
3   Vishal   20    Male

In [14]:
df_list = [['Aditya', 20, 'Male'],
           ['Tavisha', 17, 'Female'],
           ['Vishal', 20, 'Male']]

In [15]:
df2 = pd.DataFrame(df_list, index=[1, 2, 3], columns=['Name', 'Age', 'Gender'])
df2

      Name  Age  Gender
1   Aditya   20    Male
2  Tavisha   17  Female
3   Vishal   20    Male

In [16]:
df2.iloc[0] # Using default index

Name      Aditya
Age           20
Gender      Male
Name: 1, dtype: object

In [17]:
df2.iloc[1]

Name      Tavisha
Age            17
Gender     Female
Name: 2, dtype: object

In [18]:
df2.iloc[2]

Name      Vishal
Age           20
Gender      Male
Name: 3, dtype: object

In [19]:
df2.loc[1] # Using explicitly defined index or label

Name      Aditya
Age           20
Gender      Male
Name: 1, dtype: object

In [20]:
df2.loc[2]

Name      Tavisha
Age            17
Gender     Female
Name: 2, dtype: object

In [21]:
df2.loc[3]

Name      Vishal
Age           20
Gender      Male
Name: 3, dtype: object

In [22]:
print(df2.iat[0, 0]) # Using default index 
print(df2.iat[0, 1])
print(df2.iat[0, 2])
print(df2.iat[1, 0])
print(df2.iat[1, 1])
print(df2.iat[1, 2])
print(df2.iat[2, 0])
print(df2.iat[2, 1])
print(df2.iat[2, 2])

Aditya
20
Male
Tavisha
17
Female
Vishal
20
Male

In [23]:
print(df2.at[1, 'Name']) # Using explicitly defined index or labels
print(df2.at[1, 'Age'])
print(df2.at[1, 'Gender'])
print(df2.at[2, 'Name'])
print(df2.at[2, 'Age'])
print(df2.at[2, 'Gender'])
print(df2.at[3, 'Name'])
print(df2.at[3, 'Age'])
print(df2.at[3, 'Gender'])

Aditya
20
Male
Tavisha
17
Female
Vishal
20
Male

In [24]:
df2.describe()

             Age
count   3.000000
mean   19.000000
std     1.732051
min    17.000000
25%    18.500000
50%    20.000000
75%    20.000000
max    20.000000